// We'll start by creating two small maps (which are like dictionaries, or a type of array).

$light: (
  color-bg:    #eceff1,
  color-text:  #323232,
  color-muted: #4b5563,
  color-border:#cfd8dc,
  color-btn:   #262626,
  color-accent:#00796b,
  color-accent-strong:#134e4a
);

$dark: (
  color-bg:    #292f35,
  color-text:  #eceff1,
  color-muted: #cfd8dc,
  color-border:#171717,
  color-btn:   #111,
  color-accent:#26a69a,
  color-accent-strong:#00796b
);