@use 'colours' as *;
@use 'sizing' as *;

footer {
    border-top: 1px solid c(color-border);
    padding: var(--s-6) var(--s-4);

    .inner-container {
        display: flex;
        flex-wrap: wrap;
        gap: var(--s-3);
        justify-content: space-between;

        .col {
            flex: 1;

            &:first-of-type,
            &:last-of-type {
                flex: 1 1 100%;
            }

            &:not(:first-of-type) h2 {
                font-size: var(--fs-1);
                margin-bottom: var(--s-1);
            }
        }
    }
}

@media (min-width: $sm) {
    footer .inner-container .col:last-of-type {
        flex: 1;
    }
}