* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    min-height: 100vh;
}

img {
    display: block;
    max-width: 100%;
}