:root {
    --black: #13171B;
    --white: #edf0ed;
    --grey: #606971;
    --accent-burnt: #BD6507;
    --accent-ochre: #C89A2B;
}

body {
    background-color: var(--white);
    color: var(--black);
}

/* Typographic Styles */

h1 {
    font-size: 3.75rem;
    line-height: 1.2;
}

h2 {
    font-size: 3rem;
    line-height: 1.2;
}

h3 {
    font-size: 2.25rem;
}

p,
li {
    margin: 1rem 0;
}

/* CSS Grid Columns Page */

.columns {
    padding: 1rem;

    section {
        /* When you turn on a grid container, nothing happens. We need to define how many columns and rows we want. */
        display: grid;
        gap: 1rem;
        /* grid-template-columns: repeat(3, calc((100% / 3) - (2rem / 3))); */
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 1fr;
    }

    .col {
        border: 1px solid var(--grey);
        border-radius: 4px;
        padding: 0 1rem;

        &:not(.col-img) {
            background-color: white;
        }
    }

    .col-img {
        /* grid-column: 1 / -2; */
        grid-column: 1 / 3;
        overflow: hidden;
        padding: 0;

        img {
            height: 100%;
            border-radius: 4px;
            /* 
                Scales the image to fill the box while preserving its aspect ratio. Anything that doesn't fit should be cropped by overflow: hidden; on the parent container.
            */
            object-fit: cover;
            width: 100%;
        }
    }

    h2 {
        /* 
            'Start on track line number 1 and go all the way to the end.'
        */
        /* grid-column: 1 / 4; */
        grid-column: 1 / -1;
    }
}

/* 12-Column Layout with CSS Grid */

.twelve-columns {
    padding: 1rem;

    header,
    section,
    footer {
        background-color: white;
        border: 1px solid var(--grey);
        border-radius: 4px;
        padding: 2rem;
    }

    .grid-container {
        display: grid;
        gap: 1rem;
        grid-template-rows: auto 1fr 1fr auto;
        height: calc(100vh - 2rem);
        margin: auto;
        max-width: 1280px;
    }

    @media (min-width: 720px) {
        .grid-container {
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: auto 1fr auto;

            header,
            footer {
                /* grid-column: 1 / 13; */
                /* grid-column: 1 / -1; */
                grid-column: 1 / span 12;
            }

            section:first-of-type {
                grid-column: 1 / span 8;
            }

            section:last-of-type {
                grid-column: 9 / span 4;
            }
        }
    }
}

/* CSS Grid Page Layout (with Flexbox) */

.with-flex {
    padding: 1rem;

    .grid-container {
        display: grid;
        gap: 1rem;
        grid-template-columns: 2fr 1fr;
        margin: auto;
        max-width: 1280px;
    }

    header,
    section,
    aside,
    footer {
        background-color: white;
        border: 1px solid var(--grey);
        border-radius: 4px;
        grid-column: 1 / -1;
        padding: 1rem;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .col {
            border: 1px solid var(--accent-burnt);
            border-radius: 4px;
            flex: 1 1 250px;
            padding: 1rem;
        }

        h2 {
            width: 100%;
        }
    }

    /* This media query is nested inside of the body class; this means its scope is limited. It can only affect elements inside of this class. */
    @media (min-width: 1080px) {
        section {
            grid-column: 1 / span 1;
        }

        aside {
            grid-column: 2 / 3;
        }
    }
}

/* Grid Areas */

.grid-areas {
    padding: 1rem;

    .grid-container {
        display: grid;
        gap: 1rem;
        grid-template-columns: 2fr 8fr 2fr;
        grid-template-rows: auto 150px 100px;
        grid-template-areas:
            "main-content main-content main-content"
            "sidebar sidebar sidebar-two"
            "faux-footer faux-footer faux-footer";
        margin: auto;
        max-width: 1280px;

        div {
            background-color: white;
            border: 1px solid var(--grey);
            border-radius: 4px;
            padding: 1rem;
        }

        .sidebar {
            grid-area: sidebar;
        }

        .main-content {
            grid-area: main-content;
        }

        .sidebar-two {
            grid-area: sidebar-two;
        }

        .faux-footer {
            grid-area: faux-footer;
        }
    }

    @media (min-width: 1080px) {
        .grid-container {
            grid-template-areas:
            "sidebar main-content sidebar-two"
            "sidebar main-content sidebar-two"
            "faux-footer faux-footer faux-footer";
        }
    }
}